@page "/type-selection"
@inject InstantDatahandler InstantDatahandler;

<uContainer AllignCols="center" IsDefault="true" IsFullHeight="true" IsVerticalCenter="true">

    <uCol IsTextCenter="true" IsDefaultVerticalSize="true">
        <uContainer AllignCols="center">


            <uCol Grow="1" CustomClass="">

                <uButton Type="NavButton" Color="blue" IsSoft="true" Href="/home/bulding-type-selection">

                    <div class="wrap_selection">

                        <div class="wrap_selection_header">

                            <uFontAwesomeIcon Thickness="s" Size="48px" Icon="home" />

                        </div>
                        <div class="wrap_selection_title my-25"><h2 class="font-weight-normal-bold">Home</h2></div>

                        <div class="wrap_selection_description">

                            <div class="wrap_selection_description_item">&#8226; Construction & Renovation</div>

                            <div class="wrap_selection_description_item">&#8226; Plumbing & Electricians</div>

                            <div class="wrap_selection_description_item">&#8226; Decorators & Designers</div>

                            <div class="wrap_selection_description_item">&#8226; Applience Repair & Cleaning</div>

                            <div class="wrap_selection_description_item">&#8226; and More...</div>

                        </div>

                    </div>


                </uButton>

            </uCol>

            <uCol Grow="1" CustomClass="">


                <uButton Type="NavButton" Color="green" IsSoft="true" Href="/home">

                    <div class="wrap_selection">

                        <div class="wrap_selection_header">

                            <uFontAwesomeIcon Thickness="s" Size="48px" Icon="heartbeat" />

                        </div>
                        <div class="wrap_selection_title my-25"><h2 class="font-weight-normal-bold">Health</h2></div>

                        <div class="wrap_selection_description">

                            <div class="wrap_selection_description_item">&#8226; Physiotherapy & Chiropractics</div>

                            <div class="wrap_selection_description_item">&#8226; Dental & Cosmetic services</div>

                            <div class="wrap_selection_description_item">&#8226; Nursing & Adult care</div>

                            <div class="wrap_selection_description_item">&#8226; Rehabilitation & Recreation</div>

                            <div class="wrap_selection_description_item">&#8226; and More...</div>

                        </div>

                    </div>


                </uButton>

            </uCol>


            <uCol Grow="1" CustomClass="">


                <uButton Type="NavButton" Color="red" IsSoft="true" Href="/home">

                    <div class="wrap_selection">

                        <div class="wrap_selection_header">

                            <uFontAwesomeIcon Thickness="s" Size="48px" Icon="user-tie" />

                        </div>
                        <div class="wrap_selection_title my-25"><h2 class="font-weight-normal-bold">Life</h2></div>

                        <div class="wrap_selection_description">

                            <div class="wrap_selection_description_item">&#8226; Kids & Family</div>

                            <div class="wrap_selection_description_item">&#8226; Education & Sport</div>

                            <div class="wrap_selection_description_item">&#8226; Beauty & Style</div>

                            <div class="wrap_selection_description_item">&#8226; Travel & Events</div>

                            <div class="wrap_selection_description_item">&#8226; and More...</div>

                        </div>

                    </div>


                </uButton>

            </uCol>

        </uContainer>
    </uCol>
</uContainer>

@functions {

}
