
<configuration>


    <system.web>
        <!-- maxRequestLength for asp.net, in KB -->
        <httpRuntime maxRequestLength="999999" ></httpRuntime>
    </system.web>

    <system.webServer>
        <security>
            <requestFiltering>
                <!-- maxAllowedContentLength, for IIS, in bytes -->
                <requestLimits maxAllowedContentLength="999999" ></requestLimits>
            </requestFiltering>
        </security>
    </system.webServer>
    
    </configuration>