@page "/client/dashboard"
@inject HHL.WebApp.Handlers.UiJsHandler UiJsHandler;

<uContainer AllignCols="center" CustomClassContainer="pb-65 pt-30 bg-grey-light">

    <uCol Width="1140px">

        <uContainer AllignCols="center" CustomClassRow="uCol-mb-15">

            <uCol CustomStyle="text-align: left">

                <div class="mb-20 px-15">

                    <h3 class="font-blue font-weight-normal mb-0">Dashboard</h3>
                </div>

            </uCol>



            <uCol>

                <uContainer CustomClassRow="uCol-mx-15">



                    <uCol Grow="1">

                        <uCard Title="Customer level" Value="5" IconColor="orange" Icon="star"></uCard>
                    </uCol>


                    <uCol Grow="1">

                        <uCard Title="Reward balance" Value="3,796" IconColor="blue" Icon="coins"></uCard>
                    </uCol>

                    <uCol Grow="1">

                        <uCard Title="Pending balance" Value="$45.99" IconColor="green" Icon="dollar-sign"></uCard>

                    </uCol>
                </uContainer>



            </uCol>

            <uCol>

                <uContainer CustomClassRow="uCol-mx-15">


                    <uCol Grow="1">

                        <uCard Title="Reviews" Value="47" IconColor="blue-light" Icon="coins"></uCard>
                    </uCol>

                    <uCol Grow="1">

                        <uCard Title="Friend invites" Value="543" IconColor="indigo" Icon="star"></uCard>
                    </uCol>


                    <uCol Grow="1">

                        <uCard Title="Outstanding orders" Value="5" IconColor="red" Icon="file-alt"></uCard>

                    </uCol>
                </uContainer>



            </uCol>

        </uContainer>

    </uCol>


</uContainer>




@functions {

}
