@page "/client/payment-completion";



<uContainer AllignCols="center" IsDefault="true" IsFullHeight="true" IsVerticalCenter="true">

    <uCol IsTextCenter="true" IsDefaultVerticalSize="true">
        <uFontAwesomeIcon Size="56px" Icon="check" Color="green" />

        <h2 class="my-25"> Transaction is successfully  <span class="font-weight-semi-bold font-green">Completed</span> </h2>

        <uButton Type="NavButton" Href="@UrlNameHdr.ClientProejctsWaitingforConfirmation" IsTransition="false" Color="grain">
            Track your Project
        </uButton>
    </uCol>
</uContainer>


@functions {


}
