@page "/cookie"


    <uContainer AllignCols="center" CustomClassContainer="pb-65 pt-15 bg-grey-light" >

        <uCol Width="992px" CustomStyle="text-align: left">

       

            <h3 class="font-weight-semi-bold font-blue mt-40">
                Cookies Policy
            </h3>
        


                <p>   UNIVINTEL INC uses Cookies to be able to recognize your preferences when you visit our website and, thus, make UNIVINTEL INC website user-friendly and more efficient. </p>
                <p  class="mt-10">
                    Cookies are little text files that your browser stores on your hard disk. Whenever you revisit our website, UNIVINTEL INC can use the information in this saved cookie to enhance your browsing experience. Cookies may contain personal data if you have given your consent when you started to use UNIVINTEL INC website or if this is necessary for technical reasons. Cookies cannot execute programs or transfer viruses to your computer.
                </p>
                <p  class="mt-10">
                    You can set your browser to refuse or delete cookies. Please consult the corresponding instructions of the manufacturer for more detailed information on the actual procedure. If you opt to not allow the use of cookies, the functionality available to you may be impaired.
                </p>

                <p  class="mt-10">
                    UNIVINTEL INC uses cookies to the following extent:
                </p>

                <p  class="mt-10">
                    Cookies that are absolutely necessary
                </p>
                <p  class="mt-10">
                    These are cookies that are absolutely necessary for the proper operation of the website and its functions. For example, it is unfortunately not possible to log into your UNIVINTEL INC customer account without the corresponding cookie.
                </p>

                <h6 class="font-weight-semi-bold font-blue mt-40">
                    Functional cookies
                </h6>
                <p>
                    These are cookies that ensure maximum personal convenience when you visit UNIVINTEL INC website. For example, cookies may contain language settings or changes in font size.
                </p>

                <h6 class="font-weight-semi-bold font-blue mt-40">
                    Performance cookies
                </h6>
                <p>
                    These cookies give UNIVINTEL INC information on your surfing habits. They tell UNIVINTEL INC which pages are visited especially often so that UNIVINTEL INC can enhance the website to make the information you desire available faster. These cookies contain no personal data.
                </p>

                <h6 class="font-weight-semi-bold font-blue mt-40">
                    Third-party cookies
                </h6>
                <p>
                    These are cookies from third parties such as, for example, social networks that integrate social media content into UNIVINTEL INC website. In addition, UNIVINTEL INC uses the cookies of third-party providers to serve advertising that is especially likely to interest you or to measure the efficiency of advertising campaigns. Cookie information is passed on to third-party providers.
                </p>
                <p  class="mt-10">
                    UNIVINTEL INC aggregates, as far as possible, the data that it collects for the purposes of evaluation. Herefore UNIVINTEL INC uses the tool Google Analytics.
                </p>

                <p  class="mt-10">
                    You can object to further collection and evaluation of your data by UNIVINTEL INC at any time. Simply set an opt-out cookie in your browser. Please consult the corresponding instructions of the manufacturer for information on the specific procedure. Please remember that, if you use more than a single browser, you must opt out on each individual browser separately. If you delete the cookies stored on your device, you will also delete the opt-out cookie. In that case, please set the corresponding cookie once again.
                </p>



        

        </uCol>



    </uContainer>


@functions {

}
