
@page "/"



<uContainer AllignCols="center" CustomClassContainer="" CustomStyleContainer="">

    <uCol Width="1110px" CustomStyle="text-align: center;">


        <uContainer AllignCols="center" CustomClassRow="" CustomStyleRow="height: calc(100vh - 95px);">



            <uCol Width="100%" CustomClass="pt-85">
                <h1 class="font-weight-semi-bold" style="font-size:56px"> 5 Stars  </h1>
                <p>Professional Quality Service trusted by <strong class="font-blue">10000+</strong> clients</p>

                <h3 class="font-weight-semi-bold mt-40">Get Started !</h3>
                <div class="mt-30">


                    <uContainer AllignCols="center" CustomStyleRow="max-width: 500px; margin: 0 auto">

                        <uCol Grow="1">
                            <uButton Type="NavButton" Color="blue" isSoft="true" Href="/home/bulding-type-selection" CustomStyle="width:83px" CustomClass="mx-5">

                                <div>Home</div>
                            </uButton>
                            <div style="" class="font-size-11 font-silver mt-3">Available</div>
                        </uCol>
                        <uCol Grow="1">
                            <uButton Type="NavButton" Color="green" isSoft="true" Href="health/services" CustomStyle="width:83px" CustomClass="mx-5">

                                <div>Health</div>


                            </uButton>
                            <div style="" class="font-size-11 font-silver mt-3">Comming soon</div>
                        </uCol>
                        <uCol Grow="1">
                            <uButton Type="NavButton" Color="red" isSoft="true" Href="life/services" CustomStyle="width:83px" CustomClass="mx-5">

                                <div>Life</div>
                            </uButton>
                            <div style="" class="font-size-11 font-silver mt-3">Coming soon</div>
                        </uCol>
                    </uContainer>






                </div>



                <div class="small mt-30">


                    <a class="link-muted" href="index.html">Explore live demo</a>

                </div>

            </uCol>



            <uCol Width="100%" CustomStyle="margin-top:auto">

                <div style="width:50%;margin:0 auto">

                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="330px" height="330px" class=""><g><path style="fill:#00C9A7" d="M436.196,150.475c2.767-0.266,5.042,2.009,4.777,4.777c-1.713,17.849-10.101,77.726-47.439,115.065  c-24.454,24.454-60.486,28.07-80.479,8.076c-19.993-19.993-16.377-56.025,8.076-80.479  C358.471,160.575,418.347,152.186,436.196,150.475z" data-original="#9BF57D" class="" data-old_color="#DFF4F2" /><path style="fill:#00C9A7" d="M436.196,150.475c-17.849,1.713-77.726,10.101-115.065,47.439  c-24.454,24.455-28.07,60.486-8.076,80.479l126.667-126.667C438.841,150.845,437.581,150.341,436.196,150.475z" data-original="#8CE16E" class="" data-old_color="#DFF4F2" /><path style="fill:#00C9A7" d="M71.027,199.39c-0.266-2.767,2.009-5.042,4.777-4.777c17.849,1.713,77.726,10.101,115.065,47.439  c24.454,24.454,28.07,60.486,8.076,80.479c-19.993,19.993-56.025,16.377-80.479-8.076C81.127,277.115,72.738,217.239,71.027,199.39z  " data-original="#9BF57D" class="" data-old_color="#DFF4F2" /><path style="fill:#00C9A7" d="M71.027,199.39c1.713,17.849,10.101,77.726,47.439,115.065c24.455,24.454,60.486,28.069,80.479,8.076  L72.277,195.863C71.396,196.745,70.893,198.005,71.027,199.39z" data-original="#8CE16E" class="" data-old_color="#DFF4F2" /><path style="fill:#00C9A7" d="M105.95,48.347c-0.233-2.428,1.763-4.424,4.191-4.191c15.661,1.502,68.196,8.862,100.957,41.623  c21.455,21.455,24.628,53.069,7.086,70.611s-49.155,14.369-70.611-7.086C114.812,116.544,107.452,64.009,105.95,48.347z" data-original="#9BF57D" class="" data-old_color="#DFF4F2" /><path style="fill:#00C9A7" d="M105.95,48.347c1.502,15.66,8.862,68.196,41.623,100.957c21.455,21.455,53.069,24.628,70.612,7.086  L107.048,45.255C106.274,46.027,105.833,47.134,105.95,48.347z" data-original="#8CE16E" class="" data-old_color="#DFF4F2" /><path style="fill:#00C9A7" d="M393.032,0.019c2.428-0.233,4.424,1.763,4.191,4.191c-1.502,15.661-8.862,68.196-41.623,100.957  c-21.455,21.455-53.069,24.628-70.611,7.086c-17.542-17.542-14.369-49.155,7.086-70.611C324.835,8.88,377.37,1.52,393.032,0.019z" data-original="#9BF57D" class="" data-old_color="#DFF4F2" /><path style="fill:#00C9A7" d="M393.032,0.019c-15.66,1.502-68.196,8.862-100.957,41.623c-21.455,21.455-24.628,53.069-7.086,70.612  L396.125,1.117C395.352,0.343,394.245-0.098,393.032,0.019z" data-original="#8CE16E" class="" data-old_color="#DFF4F2" /><path style="fill:#DFF4F2" d="M394.655,196.793c-3.448-3.448-9.035-3.448-12.483,0L264.828,314.138V163.181  c0-11.794,4.595-22.879,12.931-31.211l72.759-72.762c3.448-3.448,3.448-9.035,0-12.483c-3.448-3.448-9.035-3.448-12.483,0  l-72.759,72.759c-11.672,11.667-18.103,27.185-18.103,43.698v9.766c-0.157-0.16-0.29-0.335-0.448-0.494l-81.587-81.59  c-3.448-3.448-9.035-3.448-12.483,0c-3.448,3.448-3.448,9.035,0,12.483l81.587,81.594c8.337,8.328,12.931,19.414,12.931,31.207  v142.13L129.827,240.931c-3.448-3.448-9.035-3.448-12.483,0c-3.448,3.448-3.448,9.035,0,12.483l129.828,129.827v58.137h17.655  V339.103l129.827-129.827C398.103,205.827,398.103,200.242,394.655,196.793z" data-original="#7DC86E" class="active-path" data-old_color="#00C9A7" /><path style="fill:#DFF4F2" d="M443.376,503.172C407.851,461.181,337.291,432.552,256,432.552s-151.85,28.629-187.377,70.621" data-original="#9A7863" class="" data-old_color="#dff4f2" /><path style="fill:#DFF4F2" d="M307.967,436.648c-16.64-2.626-34.018-4.096-51.967-4.096c-81.29,0-151.85,28.629-187.377,70.621  h103.934C200.24,470.452,249.24,445.919,307.967,436.648z" data-original="#8C695C" class="" data-old_color="#dff4f2" /><path style="fill:#DFF4F2" d="M476.69,512H35.31c-4.879,0-8.828-3.953-8.828-8.828s3.948-8.828,8.828-8.828H476.69  c4.879,0,8.828,3.953,8.828,8.828S481.569,512,476.69,512z" data-original="#785353" class="" data-old_color="#dff4f2" /></g> </svg>


                </div>
            </uCol>

        </uContainer>


        <uContainer AllignCols="center" CustomClassContainer="" CustomStyleContainer="margin-top:200px">

            <uCol>

                <span class="btn btn-xs btn-soft-success btn-pill mb-2">What we do?</span>

                <h2 class="mt-30">All-In-One place </h2>

            </uCol>

        </uContainer>


        <uContainer AllignCols="center" CustomClassContainer="mt-60" CustomStyleContainer="">

            <uCol Width="33.3333%">


                <uButton Type="Span" Size="btn-lg" IsIcon="true" IsRoundedCircle="true" IsSoft="true" IsTransition="false" Color="red" CustomStyle="">
                    <uFontAwesomeIcon Thickness="l" Icon="tools" Size="56px" CustomClass="btnInnerIcon"> </uFontAwesomeIcon>
                </uButton>

                <h5 class="mt-40  font-weight-normal-bold">Service</h5>
                <p>We strive to figure out ways to help your business grow through all platforms.</p>
            </uCol>

            <uCol Width="33.3333%">

                <uButton Type="Span" Size="btn-lg" IsIcon="true" IsRoundedCircle="true" IsSoft="true" IsTransition="false" Color="green" CustomStyle="">

                    <uFontAwesomeIcon Thickness="l" Icon="shopping-bag" Size="56px" CustomClass="btnInnerIcon"> </uFontAwesomeIcon>

                </uButton>

                <h5 class="mt-40 font-weight-normal-bold">Product</h5>
                <p>We strive to figure out ways to help your business grow through all platforms.</p>
            </uCol>


            <uCol Width="33.3333%">

                <uButton Type="Span" Size="btn-lg" IsIcon="true" IsRoundedCircle="true" IsSoft="true" IsTransition="false" Color="blue" CustomStyle="">

                    <uFontAwesomeIcon Thickness="l" Icon="user-headset" Size="56px" CustomClass="btnInnerIcon"> </uFontAwesomeIcon>

                </uButton>

                <h5 class="mt-40  font-weight-normal-bold">Support</h5>
                <p>We strive to figure out ways to help your business grow through all platforms.</p>
            </uCol>

        </uContainer>

        <uContainer AllignCols="center" CustomClassContainer="mt-60" CustomStyleContainer="">

            <uCol Width="75%">

                <img src="/img/pointer-1.svg" />

            </uCol>



        </uContainer>


        <uContainer AllignCols="center" CustomClassContainer="mt-60" CustomStyleContainer="max-width:555px;">

            <uCol>

                @*<h5 class="font-weight-normal-bold"> Quality &#8226; Reliability &#8226; Warranty </h5>*@
                <h5 class="">Get <span class="font-weight-normal-bold">detailed</span> report for every completed work including pictures and comments</h5>


            </uCol>

            <uCol CustomClass="mt-40">


                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="420px">
<path style="fill:#DCEAE9;" d="M396,450H66c-5.523,0-10-4.477-10-10V10c0-5.523,4.477-10,10-10h320c5.523,0,10,4.477,10,10V450z" />















<path style="fill:#CEDDDA;" d="M396,450h-20V0h10c5.523,0,10,4.477,10,10V450z" />















<path style="fill:#F9F9F9;" d="M446,512H126c-5.523,0-10-4.477-10-10V72c0-5.523,4.477-10,10-10h320c5.523,0,10,4.477,10,10v430
	C456,507.523,451.523,512,446,512z" />















<path style="fill:#F3F3FF;" d="M456,72v430c0,5.523-4.477,10-10,10h-10V62h10C451.523,62,456,66.477,456,72z M166,340h60v-60h-60
	V340z M166,450h60v-60h-60V450z" />















<path style="fill:#C5D3D2;" d="M226,272.5h-60c-4.142,0-7.5,3.358-7.5,7.5v60c0,4.142,3.358,7.5,7.5,7.5h60
	c4.142,0,7.5-3.358,7.5-7.5v-60C233.5,275.858,230.142,272.5,226,272.5z M218.5,332.5h-45v-45h45V332.5z M226,382.5h-60
	c-4.142,0-7.5,3.358-7.5,7.5v60c0,4.142,3.358,7.5,7.5,7.5h60c4.142,0,7.5-3.358,7.5-7.5v-60C233.5,385.858,230.142,382.5,226,382.5
	z M218.5,442.5h-45v-45h45V442.5z" />















<path style="fill:#9EA8A6;" d="M278.5,155c0-4.142,3.358-7.5,7.5-7.5h120c4.142,0,7.5,3.358,7.5,7.5s-3.358,7.5-7.5,7.5H286
	C281.858,162.5,278.5,159.142,278.5,155z M371,422.5H266c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h105
	c4.142,0,7.5-3.358,7.5-7.5S375.142,422.5,371,422.5z M286,132.5h90c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-90
	c-4.142,0-7.5,3.358-7.5,7.5S281.858,132.5,286,132.5z M406,392.5H266c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h140
	c4.142,0,7.5-3.358,7.5-7.5S410.142,392.5,406,392.5z M406,282.5H266c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h140
	c4.142,0,7.5-3.358,7.5-7.5S410.142,282.5,406,282.5z M266,327.5h105c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5H266
	c-4.142,0-7.5,3.358-7.5,7.5S261.858,327.5,266,327.5z" />















<path style="fill:#FFC08C;" d="M246,145c0,24.853-20.147,45-45,45s-45-20.147-45-45s20.147-45,45-45S246,120.147,246,145z" />















<path style="fill:#FC7F59;" d="M201,92.5c-28.949,0-52.5,23.551-52.5,52.5s23.551,52.5,52.5,52.5s52.5-23.551,52.5-52.5
	S229.949,92.5,201,92.5z M201,182.5c-20.678,0-37.5-16.822-37.5-37.5s16.822-37.5,37.5-37.5s37.5,16.822,37.5,37.5
	S221.678,182.5,201,182.5z M228.5,145c0,4.142-3.358,7.5-7.5,7.5h-12.5V165c0,4.142-3.358,7.5-7.5,7.5s-7.5-3.358-7.5-7.5v-12.5H181
	c-4.142,0-7.5-3.358-7.5-7.5s3.358-7.5,7.5-7.5h12.5V125c0-4.142,3.358-7.5,7.5-7.5s7.5,3.358,7.5,7.5v12.5H221
	C225.142,137.5,228.5,140.858,228.5,145z M232.708,263.354l-30,60c-1.27,2.541-3.867,4.146-6.708,4.146s-5.438-1.605-6.708-4.146
	l-10-20c-1.853-3.705-0.351-8.21,3.354-10.062c3.706-1.854,8.209-0.351,10.062,3.354l3.292,6.583l23.292-46.583
	c1.852-3.705,6.358-5.207,10.062-3.354C233.059,255.144,234.561,259.649,232.708,263.354z" />















<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


            </uCol>



        </uContainer>


        <uContainer AllignCols="center" CustomClassContainer="mt-100" CustomStyleContainer="">


            <uCol>

                <h2 class="font-blue">Built for <span class="font-weight-semi-bold">everyone</span></h2>

                <p class="mt-20">Our goal is to power innovation, wherever that may be.</p>

            </uCol>



        </uContainer>


        <uContainer AllignCols="center" CustomClassContainer="mb-60" CustomStyleContainer="margin-top:120px">

            <uCol Width="33.3333%" CustomStyle="min-height: 155px;">

                <div>
                    <uButton Type="Span" Size="btn-lg" IsIcon="true" IsRoundedCircle="true" IsSoft="true" Color="green" IsTransition="false">
                        <uFontAwesomeIcon Thickness="s" Icon="stars" Size="56px" CustomClass="btnInnerIcon"> </uFontAwesomeIcon>
                    </uButton>

                    <div style="position:absolute; top:-50px;right:0;left:0;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px" height="161px" viewBox="0 0 180 161.2" style="enable-background:new 0 0 180 161.2;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGcircleProcess1">
<style type="text/css">
    .circle-process-1-0 {
        fill: none;
        stroke: #00C9A7;
    }

    .circle-process-1-1 {
        fill: #FFFFFF;
    }

    .circle-process-1-2 {
        fill: #00C9A7;
    }
</style>
<path class="circle-process-1-0 fill-none stroke-success" opacity=".1" stroke-width="2" stroke-miterlimit="10" d="M35.5,160.4C14.5,144.1,1,118.6,1,90C1,40.8,40.8,1,90,1s89,39.8,89,89c0,28.1-13,53.1-33.3,69.4"></path>
<g>
                        <path class="circle-process-1-1 fill-white" d="M5.8,64.1c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S7.5,64.1,5.8,64.1z"></path>
                        <path class="circle-process-1-2 fill-success" d="M5.8,59.2c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S4.7,59.2,5.8,59.2 M5.8,57.2c-2.2,0-4,1.8-4,4   c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C9.8,58.9,8,57.2,5.8,57.2L5.8,57.2z"></path>
</g>
<g opacity=".1">
                        <circle class="circle-process-1-1 fill-white" cx="90.4" cy="89.6" r="28.6"></circle>
                        <path class="circle-process-1-2 fill-success" d="M90.4,76c7.5,0,13.6,6.1,13.6,13.6s-6.1,13.6-13.6,13.6s-13.6-6.1-13.6-13.6S82.9,76,90.4,76 M90.4,46   c-24.1,0-43.6,19.5-43.6,43.6s19.5,43.6,43.6,43.6S134,113.7,134,89.6S114.4,46,90.4,46L90.4,46z"></path>
</g>
</svg>


                    </div>


                </div>

                <div>



                    <h5 class="mt-40  font-weight-normal-bold">Quality</h5>
                    <p>We strive to figure out ways to help your business grow through all platforms.</p>


                </div>

            </uCol>

            <uCol Width="33.3333%">


                <div>
                    <uButton Type="Span" Size="btn-lg" IsIcon="true" IsRoundedCircle="true" IsSoft="true" Color="" IsTransition="false" CustomClass="font-red">
                        <uFontAwesomeIcon Thickness="s" Icon="shield-check" Size="56px" CustomClass="btnInnerIcon"> </uFontAwesomeIcon>
                    </uButton>

                    <div style="position:absolute; top:-50px;right:0;left:0;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px" height="161px" viewBox="0 0 180 161.2" style="enable-background:new 0 0 180 161.2;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGcircleProcess3">


                        <style type="text/css">
                            .circle-process-3-0 {
                                fill: none;
                                stroke: #DE4437;
                            }

                            .circle-process-3-1 {
                                fill: #FFFFFF;
                            }

                            .circle-process-3-2 {
                                fill: #DE4437;
                            }
</style>
<path class="circle-process-3-0 fill-none stroke-danger" opacity=".1" stroke-width="2" stroke-miterlimit="10" d="M35.5,160.4C14.5,144.1,1,118.6,1,90C1,40.8,40.8,1,90,1s89,39.8,89,89c0,28.1-13,53.1-33.3,69.4"></path>
<g>
                        <path class="circle-process-3-1 fill-white" d="M5.8,64.1c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S7.5,64.1,5.8,64.1z"></path>
                        <path class="circle-process-3-2 fill-danger" d="M5.8,59.2c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S4.7,59.2,5.8,59.2 M5.8,57.2c-2.2,0-4,1.8-4,4     c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C9.8,58.9,8,57.2,5.8,57.2L5.8,57.2z"></path>
</g>
<g opacity=".1">
                        <circle class="circle-process-3-1 fill-white" cx="90.4" cy="89.6" r="28.6"></circle>
                        <path class="circle-process-3-2 fill-danger" d="M90.4,76c7.5,0,13.6,6.1,13.6,13.6s-6.1,13.6-13.6,13.6s-13.6-6.1-13.6-13.6S82.9,76,90.4,76 M90.4,46     c-24.1,0-43.6,19.5-43.6,43.6s19.5,43.6,43.6,43.6S134,113.7,134,89.6S114.4,46,90.4,46L90.4,46z"></path>
</g>
</svg>


                    </div>


                </div>

                <div>



                    <h5 class="mt-40  font-weight-normal-bold">Reliability</h5>
                    <p>We strive to figure out ways to help your business grow through all platforms.</p>


                </div>


            </uCol>


            <uCol Width="33.3333%">

                <div>
                    <uButton Type="Span" Size="btn-lg" IsIcon="true" IsRoundedCircle="true" IsSoft="true" Color="" IsTransition="false" CustomClass="font-blue">
                        <uFontAwesomeIcon Thickness="s" Icon="thumbs-up" Size="56px" CustomClass="btnInnerIcon"> </uFontAwesomeIcon>
                    </uButton>
                    <div style="position:absolute; top:-50px;right:0;left:0;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px" height="161px" viewBox="0 0 180 161.2" style="enable-background:new 0 0 180 161.2;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGcircleProcess2">
<style type="text/css">
    .circle-process-2-0 {
        fill: none;
        stroke: #377DFF;
    }

    .circle-process-2-1 {
        fill: #FFFFFF;
    }

    .circle-process-2-2 {
        fill: #377DFF;
    }
</style>
<path class="circle-process-2-0 fill-none stroke-primary" opacity=".1" stroke-width="2" stroke-miterlimit="10" d="M35.5,160.4C14.5,144.1,1,118.6,1,90C1,40.8,40.8,1,90,1s89,39.8,89,89c0,28.1-13,53.1-33.3,69.4"></path>
<g>
                        <path class="circle-process-2-1 fill-white" d="M5.8,64.1c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S7.5,64.1,5.8,64.1z"></path>
                        <path class="circle-process-2-2 fill-primary" d="M5.8,59.2c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S4.7,59.2,5.8,59.2 M5.8,57.2c-2.2,0-4,1.8-4,4     c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C9.8,58.9,8,57.2,5.8,57.2L5.8,57.2z"></path>
</g>
<g opacity=".1">
                        <circle class="circle-process-2-1 fill-white" cx="90.4" cy="89.6" r="28.6"></circle>
                        <path class="circle-process-2-2 fill-primary" d="M90.4,76c7.5,0,13.6,6.1,13.6,13.6s-6.1,13.6-13.6,13.6s-13.6-6.1-13.6-13.6S82.9,76,90.4,76 M90.4,46     c-24.1,0-43.6,19.5-43.6,43.6s19.5,43.6,43.6,43.6S134,113.7,134,89.6S114.4,46,90.4,46L90.4,46z"></path>
</g>
</svg>

                    </div>
                </div>

                <div>



                    <h5 class="mt-40  font-weight-normal-bold">Warranty</h5>
                    <p>We strive to figure out ways to help your business grow through all platforms.</p>


                </div>
            </uCol>

        </uContainer>

    </uCol>




</uContainer>

<div style="position:absolute;top:20%;left:0px;">


    <svg xmlns="http://www.w3.org/2000/svg" height="440px" viewBox="260 0 512 512" width="440px" class=""><g><g fill="#14ade0"><path d="m283.113281 229.59375c1.425781 1.246094 3.191407 1.859375 4.949219 1.859375 2.089844 0 4.171875-.871094 5.65625-2.566406l53.863281-61.558594h64.085938l29.988281 59.96875c1.273438 2.546875 3.875 4.15625 6.71875 4.15625h40.078125c4.152344 0 7.515625-3.367187 7.515625-7.515625s-3.363281-7.515625-7.515625-7.515625h-35.429687l-29.988282-59.96875c-1.273437-2.546875-3.875-4.15625-6.722656-4.15625h-64.625v-49.09375h56.609375c2.511719 0 4.859375-1.257813 6.253906-3.347656l29.832031-44.746094h28.039063c4.152344 0 7.515625-3.367187 7.515625-7.515625 0-4.152344-3.363281-7.515625-7.515625-7.515625h-32.0625c-2.511719 0-4.859375 1.253906-6.25 3.347656l-29.832031 44.746094h-52.589844v-56.609375c0-4.152344-3.363281-7.515625-7.515625-7.515625s-7.515625 3.363281-7.515625 7.515625v125.425781l-54.25 62c-2.730469 3.125-2.414062 7.871094.707031 10.605469zm0 0" data-original="#000000" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m488.453125 344.671875h-68.382813l-45.839843-61.117187c-1.417969-1.894532-3.648438-3.007813-6.011719-3.007813h-64.125c-4.152344 0-7.515625 3.367187-7.515625 7.515625s3.363281 7.515625 7.515625 7.515625h60.367188l45.839843 61.117187c1.417969 1.894532 3.648438 3.007813 6.011719 3.007813h72.140625c4.152344 0 7.515625-3.363281 7.515625-7.515625 0-4.148438-3.363281-7.515625-7.515625-7.515625zm0 0" data-original="#000000" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m183.359375 77.378906v-45.816406c0-4.152344-3.367187-7.515625-7.515625-7.515625-4.152344 0-7.515625 3.363281-7.515625 7.515625v40.578125h-64.625c-2.28125 0-4.441406 1.039063-5.867187 2.820313l-29.808594 37.257812h-28.449219c-4.152344 0-7.515625 3.363281-7.515625 7.515625 0 4.148437 3.363281 7.515625 7.515625 7.515625h32.0625c2.28125 0 4.441406-1.039062 5.867187-2.820312l29.804688-37.257813h64.507812l44.601563 66.898437v69.867188c0 4.148438 3.367187 7.515625 7.515625 7.515625s7.515625-3.367187 7.515625-7.515625v-72.140625c0-1.484375-.441406-2.933594-1.261719-4.167969zm0 0" data-original="#000000" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m126.585938 288.980469-27.246094 47.675781h-51.746094c-4.152344 0-7.515625 3.367188-7.515625 7.515625 0 4.152344 3.363281 7.515625 7.515625 7.515625h56.109375c2.695313 0 5.1875-1.445312 6.523437-3.785156l29.898438-52.324219h67.78125c4.148438 0 7.515625-3.367187 7.515625-7.515625s-3.367187-7.515625-7.515625-7.515625h-68.730469l-53.863281-61.558594c-1.429688-1.628906-3.488281-2.566406-5.65625-2.566406h-48.09375c-4.152344 0-7.515625 3.367187-7.515625 7.515625s3.363281 7.515625 7.515625 7.515625h44.683594zm0 0" data-original="#000000" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m223.9375 304.59375c-4.148438 0-7.515625 3.367188-7.515625 7.515625v37.921875l-36.726563 58.765625h-59.960937c-1.167969 0-2.316406.273437-3.359375.796875l-80.160156 40.078125c-3.710938 1.855469-5.214844 6.367187-3.359375 10.078125 1.316406 2.636719 3.96875 4.15625 6.726562 4.15625 1.128907 0 2.277344-.253906 3.355469-.792969l78.570312-39.285156h54.835938v48.59375c0 4.152344 3.367188 7.515625 7.515625 7.515625s7.515625-3.363281 7.515625-7.515625v-53.953125l38.933594-62.296875c.746094-1.195313 1.144531-2.574219 1.144531-3.984375v-40.078125c0-4.148437-3.367187-7.515625-7.515625-7.515625zm0 0" data-original="#000000" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m416.3125 416.8125h-84.652344l-36.082031-43.296875v-61.40625c0-4.148437-3.363281-7.515625-7.515625-7.515625s-7.515625 3.367188-7.515625 7.515625v64.125c0 1.757813.617187 3.460937 1.742187 4.8125l38.335938 46.003906v45.371094c0 4.152344 3.363281 7.515625 7.515625 7.515625s7.515625-3.363281 7.515625-7.515625v-40.578125h80.65625c4.152344 0 7.515625-3.363281 7.515625-7.515625 0-4.148437-3.363281-7.515625-7.515625-7.515625zm0 0" data-original="#000000" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /></g><path d="m504.484375 223.9375c0 8.855469-7.175781 16.03125-16.03125 16.03125-8.851563 0-16.03125-7.175781-16.03125-16.03125s7.179687-16.03125 16.03125-16.03125c8.855469 0 16.03125 7.175781 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m488.453125 247.484375c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820313-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820313 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m504.484375 47.59375c0 8.851562-7.175781 16.03125-16.03125 16.03125-8.851563 0-16.03125-7.179688-16.03125-16.03125 0-8.855469 7.179687-16.03125 16.03125-16.03125 8.855469 0 16.03125 7.175781 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m488.453125 71.140625c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820313-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820313 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m504.484375 352.1875c0 8.855469-7.175781 16.03125-16.03125 16.03125-8.851563 0-16.03125-7.175781-16.03125-16.03125 0-8.851562 7.179687-16.03125 16.03125-16.03125 8.855469 0 16.03125 7.179688 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m488.453125 375.734375c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820313-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820313 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m448.375 424.328125c0 8.855469-7.175781 16.03125-16.03125 16.03125-8.851562 0-16.03125-7.175781-16.03125-16.03125 0-8.851563 7.179688-16.03125 16.03125-16.03125 8.855469 0 16.03125 7.179687 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m432.34375 447.875c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695312 0-8.515625 3.820312-8.515625 8.515625s3.820313 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820313-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m39.578125 456.390625c0 8.855469-7.179687 16.03125-16.03125 16.03125-8.855469 0-16.03125-7.175781-16.03125-16.03125 0-8.851563 7.175781-16.03125 16.03125-16.03125 8.851563 0 16.03125 7.179687 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m23.546875 479.9375c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820312-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m39.578125 223.9375c0 8.855469-7.179687 16.03125-16.03125 16.03125-8.855469 0-16.03125-7.175781-16.03125-16.03125s7.175781-16.03125 16.03125-16.03125c8.851563 0 16.03125 7.175781 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m23.546875 247.484375c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820313-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820313 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m39.578125 344.171875c0 8.855469-7.179687 16.03125-16.03125 16.03125-8.855469 0-16.03125-7.175781-16.03125-16.03125 0-8.851563 7.175781-16.03125 16.03125-16.03125 8.851563 0 16.03125 7.179687 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m23.546875 367.71875c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820312-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m191.875 23.546875c0 8.851563-7.175781 16.03125-16.03125 16.03125s-16.03125-7.179687-16.03125-16.03125c0-8.855469 7.175781-16.03125 16.03125-16.03125s16.03125 7.175781 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m175.84375 47.09375c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695312 0-8.515625 3.820312-8.515625 8.515625s3.820313 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820313-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m39.578125 119.734375c0 8.851563-7.179687 16.03125-16.03125 16.03125-8.855469 0-16.03125-7.179687-16.03125-16.03125 0-8.855469 7.175781-16.03125 16.03125-16.03125 8.851563 0 16.03125 7.175781 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m23.546875 143.28125c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820312-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m360.203125 23.546875c0 8.851563-7.175781 16.03125-16.03125 16.03125-8.851563 0-16.03125-7.179687-16.03125-16.03125 0-8.855469 7.179687-16.03125 16.03125-16.03125 8.855469 0 16.03125 7.175781 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m344.171875 47.09375c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820312-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m135.765625 416.3125c0 8.855469-7.179687 16.03125-16.03125 16.03125-8.855469 0-16.03125-7.175781-16.03125-16.03125 0-8.851562 7.175781-16.03125 16.03125-16.03125 8.851563 0 16.03125 7.179688 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m119.734375 439.859375c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820313-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820313 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m199.890625 488.453125c0 8.855469-7.175781 16.03125-16.03125 16.03125s-16.03125-7.175781-16.03125-16.03125c0-8.851563 7.175781-16.03125 16.03125-16.03125s16.03125 7.179687 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m183.859375 512c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820312-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m344.171875 488.453125c0 8.855469-7.175781 16.03125-16.03125 16.03125s-16.03125-7.175781-16.03125-16.03125c0-8.851563 7.175781-16.03125 16.03125-16.03125s16.03125 7.179687 16.03125 16.03125zm0 0" fill="#72ceed" data-original="#72CEED" class="active-path" style="fill:#377DFF" data-old_color="#72CEED" /><path d="m328.140625 512c-12.984375 0-23.546875-10.5625-23.546875-23.546875s10.5625-23.546875 23.546875-23.546875 23.546875 10.5625 23.546875 23.546875-10.5625 23.546875-23.546875 23.546875zm0-32.0625c-4.695313 0-8.515625 3.820312-8.515625 8.515625s3.820312 8.515625 8.515625 8.515625 8.515625-3.820312 8.515625-8.515625-3.820312-8.515625-8.515625-8.515625zm0 0" fill="#14ade0" data-original="#14ADE0" class="" style="fill:#E5EDFB" data-old_color="#e5edfb" /><path d="m324.933594 241.570312-64.125-48.09375c-2.851563-2.136718-6.769532-2.136718-9.617188 0l-64.128906 48.09375c-2.8125 2.109376-3.925781 5.925782-2.699219 9.21875 1.160157 3.097657 4.203125 5.210938 7.511719 5.210938h8.015625v56.109375c0 4.425781 3.585937 8.015625 8.015625 8.015625h24.046875c4.425781 0 8.015625-3.589844 8.015625-8.015625v-40.078125h32.0625v40.078125c0 4.425781 3.589844 8.015625 8.015625 8.015625h24.046875c4.425781 0 8.015625-3.589844 8.015625-8.015625v-56.109375h8.015625c3.449219 0 6.511719-2.210938 7.605469-5.480469 1.089843-3.273437-.035157-6.878906-2.796875-8.949219zm0 0" fill="#cde07d" data-original="#CDE07D" class="" style="fill:#377DFF" data-old_color="#377dff" /></g> </svg>
</div>

<div style="position:absolute;top:23%;right:0px;z-index:-1;">


    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="-260 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="360px" height="360px" class=""><g><path style="fill:#DE4437" d="M252.59,512c-2.048,0-4.095-0.781-5.657-2.343c-26.434-26.434-37.929-53.481-35.141-82.684  c2.384-24.961,14.898-47.395,25.938-67.187c17.227-30.881,26.147-49.178,9.202-66.123c-3.124-3.124-3.124-8.189,0-11.313  c3.125-3.124,8.189-3.124,11.314,0c26.319,26.319,9.613,56.268-6.544,85.231c-21.867,39.203-44.48,79.74,6.544,130.763  C263.172,503.269,259.585,512,252.59,512z" data-original="#4AE4BC" class="" data-old_color="#F6E7E7" /><path style="fill:#F6E7E7" d="M285.667,282.35l-23.999-23.999c-3.125-3.124-8.189-3.124-11.314,0l-23.999,23.999  c-2.288,2.288-2.972,5.729-1.733,8.718c1.239,2.989,4.155,4.938,7.391,4.938h47.999c3.235,0,6.152-1.949,7.391-4.938  C288.641,288.078,287.955,284.638,285.667,282.35z" data-original="#DA6C84" class="" data-old_color="#f6e7e7" /><path style="fill:#F6E7E7" d="M413.56,68.631c-5.188-24.006-17.946-43.976-35.925-56.228c-17.1-11.654-37.294-15.185-58.402-10.212  c-21.184,4.992-42.267,18.206-62.759,39.314c-20.492-21.108-41.575-34.321-62.758-39.314c-21.107-4.974-41.303-1.443-58.402,10.211  c-17.979,12.253-30.736,32.222-35.925,56.228c-5.333,24.672-1.852,51.096,9.802,74.402c23.092,46.184,61.195,77.041,89.095,94.795  c30.127,19.171,54.633,27.445,55.66,27.788c1.633,0.545,3.428,0.545,5.061,0c1.028-0.343,25.533-8.617,55.66-27.788  c27.898-17.754,66.002-48.612,89.095-94.795C415.412,119.727,418.893,93.304,413.56,68.631z" data-original="#FF97A4" class="active-path" data-old_color="#f6e7e7" /><path style="fill:#F6E7E7" d="M237.348,227.81c-27.898-17.754-66.002-48.612-89.095-94.795  c-11.653-23.306-15.135-49.73-9.802-74.402c5.188-24.006,17.947-43.976,35.925-56.228c1.207-0.822,2.433-1.594,3.669-2.335  c-15.371-0.55-29.921,3.621-42.734,12.354c-17.979,12.253-30.736,32.222-35.925,56.228c-5.333,24.672-1.852,51.096,9.802,74.402  c23.092,46.184,61.195,77.041,89.095,94.795c30.127,19.171,54.633,27.445,55.66,27.788c1.633,0.545,3.428,0.545,5.061,0  c0.687-0.229,11.847-4,28.15-12.183C278.01,249.852,259.155,241.688,237.348,227.81z" data-original="#FF7D8D" class="" data-old_color="#f6e7e7" /><path style="fill:#DE4437" d="M424.007,512c-2.048,0-4.095-0.781-5.657-2.343c-33.229-33.23-19.488-60.158-8.448-81.796  c8.426-16.513,15.703-30.773,6.95-48.28c-1.976-3.952-0.374-8.757,3.577-10.733c3.952-1.976,8.759-0.375,10.733,3.578  c12.368,24.735,2.073,44.909-7.009,62.707c-10.893,21.345-19.495,38.205,5.511,63.21C434.588,503.269,431.002,512,424.007,512z" data-original="#FDDA6B" class="" data-old_color="#F6E7E7" /><path style="fill:#F6E7E7" d="M489.756,239.312c-7.619-5.193-34.014-18.714-67.237,13.473  c-33.225-32.187-59.619-18.665-67.237-13.473c-22.062,15.037-28.77,47.961-15.272,74.955c24.387,48.775,77.722,67.02,79.979,67.773  c0.821,0.274,1.676,0.411,2.53,0.411c0.854,0,1.709-0.137,2.53-0.411c2.258-0.753,55.592-18.998,79.979-67.773  C518.525,287.273,511.816,254.348,489.756,239.312z" data-original="#FE5578" class="" data-old_color="#f6e7e7" /><path style="fill:#F6E7E7" d="M362.301,306.392c-13.101-26.2-7.546-57.861,12.386-74.111c-9.327,0.999-16.118,4.79-19.406,7.033  c-22.062,15.037-28.77,47.961-15.272,74.955c24.387,48.775,77.722,67.02,79.979,67.773c1.633,0.545,3.428,0.545,5.061,0  c0.762-0.254,7.355-2.508,16.687-7.254C430.936,370.727,384.682,351.155,362.301,306.392z" data-original="#FE2A56" class="" data-old_color="#f6e7e7" /><path style="fill:#DE4437" d="M90.971,512c-2.048,0-4.095-0.781-5.657-2.343c-33.229-33.23-19.488-60.158-8.448-81.796  c8.426-16.513,15.703-30.773,6.95-48.28c-1.976-3.952-0.374-8.757,3.577-10.733c3.951-1.976,8.758-0.375,10.733,3.578  c12.368,24.735,2.073,44.909-7.009,62.707c-10.893,21.345-19.495,38.205,5.511,63.21C101.553,503.269,97.966,512,90.971,512z" data-original="#FDDA6B" class="" data-old_color="#F6E7E7" /><path style="fill:#F6E7E7" d="M156.72,239.312c-7.619-5.193-34.014-18.714-67.237,13.473  c-33.225-32.187-59.619-18.665-67.237-13.473c-22.062,15.038-28.77,47.962-15.273,74.956c24.387,48.775,77.722,67.02,79.979,67.773  c0.821,0.274,1.676,0.411,2.53,0.411s1.709-0.137,2.53-0.411c2.258-0.753,55.592-18.998,79.979-67.773  C185.489,287.273,178.78,254.348,156.72,239.312z" data-original="#FE5578" class="" data-old_color="#f6e7e7" /><path style="fill:#F6E7E7" d="M29.265,306.392c-13.101-26.2-7.546-57.861,12.386-74.111c-9.327,0.999-16.118,4.79-19.406,7.033  c-22.061,15.036-28.769,47.96-15.272,74.954c24.387,48.775,77.722,67.02,79.979,67.773c1.633,0.545,3.428,0.545,5.061,0  c0.762-0.254,7.355-2.508,16.687-7.254C97.9,370.727,51.646,351.155,29.265,306.392z" data-original="#FE2A56" class="" data-old_color="#f6e7e7" /></g> </svg>

</div>



@functions {

   

    protected override async Task OnInitializedAsync()
    {
        
    }
}