@page "/privacy"


    <uContainer AllignCols="center" CustomClassContainer="pb-65 pt-15 bg-grey-light" >

        <uCol Width="992px" CustomStyle="text-align: left">

       

            <h3 class="font-weight-semi-bold font-blue mt-40">
                Privacy Policy
            </h3>
             

                    <p>
                        The protection of your personal data is very important to UNIVINTEL INC. Therefore, UNIVINTEL INC will only collect, process and use your personal data in compliance with the provisions of this Privacy Statement and the applicable data protection legislation.
                    </p>

                    <h6 class="font-weight-semi-bold font-blue mt-40" >
                        A. Responsible parties
                    </h6>
                    <p>
                        The data controller and party responsible for the operation of UNIVINTEL INC - Website (www.univintel.com), including any versions adjusted for mobile devices like smartphones, (hereinafter referred to as the "Website") is UNIVINTEL INC, 777 Bay st, Toronto, Canada M5B 2H4 (hereinafter referred to as "UNIVINTEL INC").
                        Data processing activities carried out by UNIVINTEL INC are described in sections below. Please note that some functions described hereinafter may not be displayed or may not be available on mobile devices (e.g. on smartphones).
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        B. Your personal data
                    </h6>
                    <p>
                        Personal data means any information concerning an identified or identifiable individual. Such data includes, for example, your name, your telephone number as well as your postal and e-mail addresses.
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        C. Data processing by UNIVINTEL INC
                    </h6>
                    <p>
                        UNIVINTEL INC is responsible for the operation of the Customer Account as well as for providing the services offered in connection with it and for the mailing of newsletters. UNIVINTEL INC will only collect, process or use your personal data as far as legally permitted or provided you have given your prior consent, e.g. for sending newsletters.
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        D. Your UNIVINTEL INC Customer Account
                    </h6>
                    <p>
                        You may set up a personal customer account (hereinafter referred to as your "Customer Account") at the Website. You can save your personal data (such as address, delivery address, etc.) in your Customer Account, view your order history, check the status of an order, or even create a personal wishlist that you can share with friends.
                    </p>

                    <p class="mt-10">
                        To create your personal Customer Account, you must provide your first name and surname as well as your e-mail address and a password of your choice. The e-mail address that you supply will also serve as your Customer Account User ID. Once you have successfully registered, you will automatically receive a confirmation by e-mail.
                    </p>
                    <p class="mt-10">
                        You can update the personal data in your Customer Account at any time and may also, if you wish, enter additional information (e.g. your address, telephone number, and date of birth).
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        II. Newsletter subscriptions
                    </h6>
                    <p>
                        If you have subscribed to a UNIVINTEL INC newsletter, UNIVINTEL INC will only use your personal information for the purpose of sending the requested newsletter to you. If you cancel your subscription to a newsletter, your data will be deleted without delay. You can cancel the subscription at any time by clicking on the related link in each newsletter.
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        E. Data processing by UNIVINTEL INC
                    </h6>
                    <p>
                        Below you will find a description of data processing activities which are separately carried out by UNIVINTEL INC
                    </p>
                    <div style="width:100%">
                        <h6 class="font-weight-semi-bold font-blue mt-40">
                            I. Use of service providers
                        </h6>
                    </div>

                    <p>
                        Where necessary, for example for the handling of your order, the mailing of newsletters or advertisements, the operation of the Customer Account or the conduct of a contest, your personal data may be made available by UNIVINTEL INC. These service providers are carefully selected by UNIVINTEL INC and will only process your data as instructed and on behalf of UNIVINTEL IN. Furthermore, they will comply with the provisions of this Privacy Statement and will take all requisite security measures.
                    </p>

                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        II. Contests and other campaigns
                    </h6>
                    <p>
                        You may also can take part in contests or other campaigns conducted by UNIVINTEL INC. Where you are required to supply your personal data (e.g. your name, e-mail address, postal address, etc.) for taking part in such contests or campaigns, UNIVINTEL INC will only use this data for the purposes of conducting the contest or other campaign and only in compliance with the applicable terms and conditions. If you have expressly consented to being sent newsletters, UNIVINTEL INC will send newsletters to you as described in section C. II. Neither your participation in a contest nor your chances of winning will be affected should you not consent to receiving newsletters or should you revoke your consent later.
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        III. Cookies and web beacons
                    </h6>
                    <p>
                        Web Cookies are small pieces of data send by websites which are stored by your browser on your computer's hard drive. We use this technology to optimize the offers presented in the Website or on the Website, for example, by saving your personal preferences. The use of cookies for instance enables us to save your virtual shopping cart, determine which country you are in and recognize you when you visit the Website or Website again. In addition some cookies will be sent by third parties, which for example enable us to have UNIVINTEL INC products that reflect your interests offered to you on our partners' websites (what is known as retargeting).
                    </p>
                    <p  class="mt-10">
                        For more information on cookies and how they are used as well as how you can block or delete them, please see the       
                        <NavLink href="cookie">
                            Cookies Policy
                        </NavLink>.
                    </p>
                    <p  class="mt-10">
                        UNIVINTEL INC also uses web beacons (pixel tags). When you open a page in the Website or on the Website, this pixel will be downloaded from a server and registered. For instance this enables us to determine which pages were viewed and when as well as what actions were undertaken on these pages.
                    </p>

                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        F. Data security
                    </h6>
                    <p>
                        To protect your payment data, it is encrypted using a 256-bit key and transferred to our servers using the SSL (Secure Sockets Layer) protocol. You can verify that the connection is secure by checking the URL displayed in your browser. If the beginning of the address changes from "http" to "https", a secure connection has been established. In addition, all payment providers are PCI-DSS (Payment Card Industry Data Security Standard) certified and comply with highest security standards to secure your payment data. For more information please visit: www.pcisecuritystandards.org.
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        G. Microsites
                    </h6>
                    <p>
                        Partners of UNIVINTEL INC may offer certain products and services on the Website and in the Website. A microsite is a website that is operated by a third party but is designed to fit into the corporate design of UNIVINTEL INC and is accessible via a link from one of UNIVINTEL INC websites. UNIVINTEL INC are not responsible for the content of the microsite or its operation. The terms of use and privacy policy of the partner enterprise, which is responsible for the collection and processing of data from the microsite, are the relevant provisions governing the microsite. Should you have questions regarding privacy on the microsite, please contact the relevant partner enterprise.
                    </p>
                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        H. Right to obtain, correct, block or delete information
                    </h6>
                    <p>

                        You have a right to obtain information regarding the personal data stored about you free of charge. Furthermore, you have the right to correct your personal data or have it blocked or deleted. You may, at any time, revoke any given consent to the collection, processing and use of data with future effect.
                    </p>

                    <p class="mt-10">
                        Should you have any questions regarding data protection and the use of your personal data, or if you wish to obtain information regarding the personal data we have stored about you or would like to exercise your right to have this data corrected, blocked or deleted, please send an e-mail with your request to contact@univintel.com. The same applies if you wish to revoke your consent to the collection of your personal data. UNIVINTEL INC will only collect, process and use the information that you provide on a contact form for handling the matter that you wrote about on this form.
                    </p>

                    <h6 class="font-weight-semi-bold font-blue mt-40">
                        I. Modifications
                    </h6>
                    <div style="width:100%">

                        <p>
                            UNIVINTEL INC may amend this Privacy Statement from time to time.
                        </p>
                    </div>
                    <div style="width:100%">

                        <p  class="mt-10"> Effective Date: January 1, 2018  </p>
                    </div>






        

        </uCol>



    </uContainer>


@functions {

}
