@page "/terms"


    <uContainer AllignCols="center" CustomClassContainer="pb-65 pt-15 bg-grey-light" >

        <uCol Width="992px" CustomStyle="text-align: left">

       

                <h3 class="font-weight-semi-bold font-blue mt-40">
                    Terms of Use
                </h3>
                <p>
                    The following Terms of Use apply to the websites offered by UNIVINTEL and/or its subsidiaries as well as the associated services (collectively referred to as "UNIVINTEL Sites"). These General Terms of Use may in a specific case be supplemented, modified or replaced by additional terms and conditions, e.g. for the purchase of merchandise. You are deemed to have accepted the application of these Terms of Use at the time you log in or, where no special log in is required, at the time you start using a UNIVINTEL site.
                </p>

                <h3 class="font-weight-semi-bold font-blue mt-40">
                    Copyright and Other Intellectual Property Rights
                </h3>

                <p>
                    &copy; 2018-2019 Copyright UNIVINTEL INC. All rights reserved. The content of UNIVINTEL INC Sites, including, but not limited to, their web pages, programs, graphics, illustrations, audio, videos, scripts, texts as well as the arrangement of same on the Sites are subject to copyright protection and other laws protecting intellectual property.
                </p> 
            
            <p class="mt-10">
                    The content of UNIVINTEL INC Sites may not be used for commercial, business and/or public purposes, it may not be copied, distributed, modified or made accessible to third parties. Any copies made of the content must contain a UNIVINTEL INC copyright notice. Notices of protected rights may not be removed.
                </p>
            
            <h3 class="font-weight-semi-bold font-blue mt-40">
                    Trademarks
                </h3>
            
            <p>
                    Unless provided otherwise, all trademarks on this Website are protected trademarks of UNIVINTEL INC or one of its licensors. This applies to brands, collection labels, logos and emblems.
                </p>
            
            <h3 class="font-weight-semi-bold font-blue mt-40">
                    No License
                </h3>
            
            <p>
                    You are not granted an explicit or implicit license or any other right to use the content of UNIVINTEL INC Sites unless you first obtain the written consent of UNIVINTEL INC or the respective licensor. Any improper use of the content is strictly forbidden and UNIVINTEL INC will institute civil and criminal proceedings in relation thereto.
                </p>
            
            <h3 class="font-weight-semi-bold font-blue mt-40">
                    Information Sent to UNIVINTEL INC
                </h3>
            
            <p>
                    All comments, suggestions, ideas and other content which you send to or otherwise make available to UNIVINTEL INC (Information Sent) will be treated as non-confidential. UNIVINTEL INC is not obliged to treat the Information Sent confidentially. UNIVINTEL INC will be entitled to use and exploit the Information Sent free of charge.
                </p>
            
            <h3 class="font-weight-semi-bold font-blue mt-40">
                    Liability for Information Sent
                </h3>
            
            <p>
                    You will be liable for ensuring that none of the information you send violates the rights of third parties, including, but not limited to, copyrights, trademarks, patent rights, business secrets, privacy or other personal rights or intellectual property rights. In connection with the foregoing, you will be required to indemnify UNIVINTEL INC against all third-party claims, including the reasonable costs of legally defending its rights.
                </p>

            <h3 class="font-weight-semi-bold font-blue mt-40">
                    User Behaviour
                </h3>
            <p>
                    You are prohibited while using UNIVINTEL INC Sites (I) from inflicting damage on people (especially on minors) and from violating their rights of personality, (II) from behaving in a manner that violates public policy, (III) from sending content that is libellous, defamatory, obscene, insulting, pornographic or which glorifies violence or invades the privacy of another person, and (IV) from infringing industrial property rights or copyright or other proprietary rights and from advertising goods or services and from soliciting transfers of economic benefit.
                </p><p  class="mt-10">
                    User activities which are aimed at disabling UNIVINTEL INC Sites or at least making their use more difficult are forbidden and may lead to UNIVINTEL INC instituting civil or criminal proceedings.
                </p><p  class="mt-10">
                    You are also prohibited from using UNIVINTEL INC Sites for any purpose that is unlawful. You are not permitted to register third parties at UNIVINTEL INC Sites for a subscription to a newsletter or similar publication (e.g. My Account) without their knowledge and express consent or to register them for a competition without their knowledge and express consent.
                </p><p class="mt-10">
                    UNIVINTEL INC may block your access to UNIVINTEL INC Sites at any time, including, but not limited to, where you breach your duties under these Terms of Use.
                </p><h3 class="font-weight-semi-bold font-blue mt-40">
                    Registration and Password
                </h3><p>
                    Some of UNIVINTEL INC Sites may be password protected or some Sites that were previously freely accessible may now require that you register. You have no right to demand that UNIVINTEL INC register you. UNIVINTEL INC may at any time revoke your login authorization and block your login data without giving reasons, including, but not limited to, where (I) you made a false statement at the time you registered, (II) you violated the law when using UNIVINTEL INC Sites or (III) you have, for an extended period of time, not used UNIVINTEL INC Sites.
                </p><p  class="mt-10">
                    All information that you supply when registering must be truthful and you must notify UNIVINTEL INC without delay of any changes which subsequently affect the information supplied.
                </p><p class="mt-10">
                    After you have successfully registered, you will automatically receive an e-mail notifying you that your account has been set up. Your e-mail address will at the same time be your user name for your account. During the registration process you will be asked to choose and submit a password. After you log into your account, you may change your password if you wish. You must keep your user ID and password confidential, may not make them available to any third party and must protect your user ID and password from access by unauthorized third parties. You will be responsible for any misuse of your user ID or password.
                </p><h3 class="font-weight-semi-bold font-blue mt-40">
                    Entry Rules for Competitions
                </h3>

                <p>
                    These UNIVINTEL INC Sites may contain invitations to enter competitions. The following rules apply to all competitions: (I) competitions are not open to employees of UNIVINTEL INC or of its affiliates or to any of their relatives, (II) you will not be entitled to claim the cash value of a prize or to exchange your prize for another prize, and (III) no recourse may be had to the courts. These rules may be modified or replaced by other rules in specific cases.
                </p>
              
                    <h3 class="font-weight-semi-bold font-blue mt-40">
                        Liability
                    </h3>

           


                <p>
                    You are responsible for all your actions at or in connection with UNIVINTEL INC Sites.
                </p><p  class="mt-10">
                    UNIVINTEL INC strives to ensure that these Sites are administered and maintained with due care. Nonetheless, UNIVINTEL INC does not warrant that the information contained on UNIVINTEL Sites is error-free or accurate or that access to UNIVINTEL INC Sites will be uninterrupted. Furthermore, it disclaims any liability for lost, damaged or deleted downloads.
                </p><p  class="mt-10">
                    UNIVINTEL INC accepts no liability for any damage arising directly or indirectly from the use of UNIVINTEL INC Sites or the downloading of HUGO Tracks. Nothing in these Terms of Use excludes or limits UNIVINTEL INC's liability in cases of intentional harm, gross negligence, injury to life, body or health, fraudulent concealment of a defect or breach of a material contractual obligation where liability is mandatory. UNIVINTEL INC's liability for damages for breach of a material contractual provision will, however, be limited to the usual foreseeable damage except in cases involving its intentional wrongdoing or gross negligence.
                </p><p  class="mt-10">
                    Statutory liability which does not require fault on the part of UNIVINTEL INC – for example, in the case of statutory liability under a guarantee – will remain unaffected by the limitations of liability stated above.
                </p>

            <h3 class="font-weight-semi-bold font-blue mt-40">
                    Links / Content of Third Party Sites
                </h3>
            <p>
                    To the extent that UNIVINTEL INC Sites mirror other Internet sites which are operated by third parties or contain links to such sites, UNIVINTEL INC assumes no liability for the content of these sites nor does it endorse them or their content. UNIVINTEL INC is not responsible for the content of such sites. Your use of such sites is at your own risk.
                </p><p class="mt-10">
                    You are not permitted to post any content to UNIVINTEL INC Sites unless UNIVINTEL INC has requested you to do so or has explicitly made the necessary applications available. As a rule, UNIVINTEL has no control or influence over the content posted by users of UNIVINTEL INC Sites or other third parties. The persons responsible for such content are the users or third parties who posted such content, but not UNIVINTEL INC.
                </p>

            <h3 class="font-weight-semi-bold font-blue mt-40">
                    Changes / Improvements
                </h3>
            <p>
                    UNIVINTEL INC reserves the right to amend these Terms of Use as well as to modify the content and structure of UNIVINTEL INC Sites at any time. The right reserved above will also include the right to make certain offerings and services subject to payment or to discontinue them entirely.
                </p>

            
                    <h3 class="font-weight-semi-bold font-blue mt-40">
                        Miscellaneous
                    </h3>

                
                <p>
                    The courts of Stuttgart will have jurisdiction if you are a "merchant" within the meaning of the Canada Commercial Code.
                </p>



                <p class="mt-10">
                    As stated in the relevant website credits, the individual web pages of UNIVINTEL INC Sites are operated by UNIVINTEL INC, 777 Bay St, Toronto, Canada and/or its subsidiaries. They are also responsible for the individual pages of UNIVINTEL INC Sites. The web pages comply with the requirements in the country in which the responsible company has its domicile. UNIVINTEL INC assumes no responsibility for the fact that information and/or content made available on UNIVINTEL INC Sites can be accessed or downloaded at places outside of the relevant country. Where users access UNIVINTEL INC Sites from places outside of the relevant country, they will bear sole responsibility for compliance with the pertinent laws of such country.
                </p>

                <div style="width:100%">

                    <p class="mt-10">
                        The laws of Canada will apply. The application of the UN Convention on Contracts for the International Sale of Goods (CISG) is excluded.
                    </p>

                </div>


                <div style="width:100%">

                    <p class="mt-10">
                        January 1 2018
                    </p>

                </div>


        

        </uCol>



    </uContainer>


@functions {

}
