
$global-font-family: "Poppins", Helvetica, Arial, sans-serif;
$global-color: #1e2022;
$global-font-weight: 400;
$global-color-white: #fff;
$font-red: #de4437;
$global-color-menu-silver: #97a4af;

$global-color-list: #377dff #00c9a7;
$global-colorname-list: 'primary' 'success';

$global-transition: all 0.3s; 


$global-color-list: ("primary",#377dff)
, ("success", #00c9a7), ("indigo", #2d1582), ("blue",#377dff), ("blue-light",#1da1f2), ("blue-lighter",#E5EDFB), ("green",#00c9a7), ("green-lighter", #DFF4F2),
("red",#de4437), ("red-lighter", #F6E7E7), ("silver-light",#8c98a4), ("silver",#77838f), ("silver-dark",#97a4af), ("black",#1e2022), ("grey-light",#f8f9fa),
("grey-lighter",#e4ecf7), ("white",#fff), ("orange", #ffc107), ("grain", #3b5998), ("silverish", #3f729b);


$global-font-weight-list: ("light",300), ("normal-bold",500), ("normal",400), ("bold",700), ("semi-bold",600);

$global-size-list: 0, 1,2,3,4,5,6,7,8,9, 10, 15, 20, 25, 30, 35, 40, 45, 50,55, 60,65,70,75,80,85,90,95,100,110,120,130,140,150,160,170,180,190,200;

$global-font-size-list: 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,21,22,23,24,25,26,27,28,29,30,31,32;




